<article class="row">

    <div class="column_9 margin-bottom">
        <h2><%= link_to @post.title, post_path(@post), :class=> "text bold color theme" %></h2>
        <h5>
            <% if @post.category %>
            Category: 
            <%= @post.category.category %>
            <% end %> 
            Written by <a href="#" class="text bold color theme">Pikaj</a> 
            <%= time_ago_in_words(@post.created_at) %> 
            ago
        </h5>
    </div>
    <p class="column_9">
        <%= @post.text %>
    </p>
</article>
<hr/>
 
<h2>Comments</h2>
<%= render @post.comments %>
 
<h2>Add a comment:</h2>
<%= render "admin/comments/form" %>
 
<%= link_to 'Edit Post', edit_admin_post_path(@post) %> |
<%= link_to 'Back to Posts', admin_posts_path %>